h1 {
    margin: auto;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 50px;
}

table {
    /*border-collapse: collapse;*/
    border: 2px solid black;
    width: 25%;
    margin: auto;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

tbody,
tr,
th,
td {
    border: 1px solid black;
    padding: 5px;
    border-radius: 4px;
}

#idEncabezado1,
#idEncabezado2,
#idEncabezado3 {
    color: white;
}

#idEncabezado1 {
    background-color: red;
}

#idEncabezado2 {
    background-color: green;
}

#idEncabezado3 {
    background-color: blue;
}