@font-face {
    font-family: 'Alkidenz';
    font-style: normal;
    font-weight: normal;
    src: url('fonts/njnaruto.ttf');
}

body {
    font-family: 'Alkidenz';
    background-color: rgb(218, 214, 214);

}

h1 {
    text-align: center;
    font-size: 100px;
    font-weight: 400;
}


#botonParaInicio {
    text-align: center;
    margin-top: 1%;
    font-size: 60px;
    padding: 10px 25px;
    line-height: 60px;
}

#botonInicio {
    font-size: 45px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 60px;
    border-radius: 15px;

}

.botonesTablas {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 55px;
    margin-right: 2%;
}


#mostrarPregunta {
    font-size: 100px;
    line-height: 100px;
    margin-top: 3%;
    height: 25%;
}

#idRow1 {
    text-align: end;
}

#idRow1,
#idRow2,
#idRow3 {
    height: 160px;

}

#botonComprobacion {
    padding: 18px;
    border-radius: 20px;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    top: -5px;
    right: 300px;
}

#idInput,
#idLabel {
    width: 100%;
    padding-left: 40px;

}

#idInput {
    width: 70%;
    margin-top: -40px;
    border-radius: 20px;
    font-weight: bolder;
    background-color: rgb(218, 214, 214);

}

#mostrarResultado {
    width: 98%;
    height: 400px;
}


#cambioTabla {
    width: 30%;
    height: 98%;
}

#botonCambiarDeTabla {
    width: 150px;
    height: 100px;
    margin-top: 25px;
    margin-left: 25px;
    font-size: x-large;
    border-radius: 20px;
}

#botonSiguientePregunta {
    padding: 15px;
    height: 140px;
    margin-top: 25px;
    font-size: xx-large;
    border-radius: 20px;
}

#imgTabla1 {
    width: 65%;
    height: 80%;
    border: 3px solid black;
    border-radius: 49%;

}

#imgFinal {
    width: 27%;
    height: 27%;
    border: 3px solid palevioletred;
    border-radius: 25px;
    position: relative;
    bottom: 0px;
    left: 500px;

}

#idImagenComprobacion {
    width: 500px;
    height: 380px;
    border: 3px solid black;
    border-radius: 50%;
}

#idDivImagen {
    height: 400px;
}

#bocadillo-redondo,
#bocadillo-redondo2,
#bocadillo-redondo3 {
    position: relative;
    background: white;
    border-radius: 50%;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    text-indent: 35px;
}

#bocadillo-redondo:before,
#bocadillo-redondo2:before,
#bocadillo-redondo3:before {
    border: 30px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
}

#bocadillo-redondo {
    height: 200px;
    width: 400px;
    font-size: 30px;
    text-align: center;
    line-height: 200px;
    transform: rotate(-10deg);

}

#bocadillo-redondo:before {
    transform: rotate(50deg);
    bottom: 10px;
    right: 365px;
}

#bocadillo-redondo2 {
    height: 300px;
    width: 500px;
    text-align: center;
    line-height: 300px;
    margin-top: 80px;
    transform: rotate(22deg);
}

#bocadillo-redondo2:before {
    transform: rotate(72deg);
    bottom: 80px;
    right: 487px;
}

#bocadillo-redondo3 {
    height: 200px;
    width: 400px;
    font-size: 26px;
    text-align: center;
    line-height: 200px;
    margin-top: 80px;
    transform: rotate(-10deg);
    bottom: 530px;
    left: 850px;
}

#bocadillo-redondo3:before {
    transform: rotate(72deg);
    bottom: 40px;
    right: 380px;
}

#click {
    color: transparent;
}


#botonInicio,
#boton0,
#boton1,
#boton2,
#boton3,
#boton4,
#boton5,
#boton6,
#boton7,
#boton8,
#boton9,
#boton10,
#botonComprobacion,
#botonCambiarDeTabla,
#botonSiguientePregunta {
    background-color: rgb(219, 82, 105);
    color: white;
    text-align: center;
    font-weight: bolder;
    border: 5px solid rgb(233, 104, 126);
    box-shadow: 0px 12px 8px rgb(148, 144, 144),
        -2px 8px 7px rgb(236, 164, 176) inset,
        -5px -20px 5px rgb(209, 52, 99) inset,
        -5px -23px 5px rgb(228, 155, 167) inset;

}

#botonInicio:hover,
#boton0:hover,
#boton1:hover,
#boton2:hover,
#boton3:hover,
#boton4:hover,
#boton5:hover,
#boton6:hover,
#boton7:hover,
#boton8:hover,
#boton9:hover,
#boton10:hover,
#botonComprobacion:hover,
#botonCambiarDeTabla:hover,
#botonSiguientePregunta:hover {
    background-color: rgb(245, 108, 131);
    border: 5px solid rgb(219, 123, 139);
    box-shadow: 0px 12px 8px rgb(148, 144, 144),
        -2px 8px 7px rgb(221, 147, 160) inset,
        -5px -20px 5px rgb(240, 72, 123) inset,
        -5px -23px 5px rgb(221, 147, 160) inset;
}

#boton11 {
    background-color: rgb(174, 233, 159);
    color: white;
    text-align: center;
    font-weight: bolder;
    border: 5px solid rgb(189, 239, 165);
    box-shadow: 0px 12px 8px rgb(171, 189, 163),
        -2px 8px 7px rgb(159, 206, 128) inset,
        -5px -20px 5px rgb(106, 197, 79) inset,
        -5px -23px 5px rgb(200, 235, 181) inset;

}

#boton11:hover {
    background-color: rgb(192, 239, 168);
    border: 5px solid rgb(201, 245, 176);
    box-shadow: 0px 12px 8px rgb(148, 144, 144),
        -2px 8px 7px rgb(172, 196, 172) inset,
        -5px -20px 5px rgb(118, 206, 84) inset,
        -5px -23px 5px rgb(210, 242, 186) inset;

}