h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    font-weight: bolder;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 3px solid lightslategray;
    margin: auto;
    margin-top: 5%;
    background-color: gainsboro;
}

tr,
td {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    line-height: 40px;
    font-weight: bolder;
}

p {
    font-size: large;
    font-weight: bolder;
}