table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
    margin-top: 5%;
}

tr,
td {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    line-height: 40px;
}

p {
    font-size: large;
    font-weight: bolder;
}